#grid td.tile-highlight
{
    background-color: Yellow !important;
}

#grid td.tile-cursor
{
    border-color: White !important;
}

#grid td.tile-correct
{
    background-color: Lime !important;
}

#grid td.tile-incorrect
{
    border-color: Red !important; 
}

.clue-highlight
{
    font-weight: bold;
}
