#cwd-grid td.cwd-tile-highlight
{
    background-color: Yellow !important;
}

#cwd-grid td.cwd-tile-cursor
{
    border-color: White !important;
}

#cwd-grid td.cwd-tile-correct
{
    background-color: Lime !important;
}

#cwd-grid td.cwd-tile-incorrect
{
    border-color: Red !important; 
}

.cwd-clue-highlight
{
    font-weight: bold;
}
